html body.login-pf {  
   background: linear-gradient(#73B51F, #5c9118);
}

#badge {
    width: 335px;
    height: 231px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: var(--pf-t--global--border--radius--large);
}

#brand::before {
    color: white;
    content: "<b>${VARIANT}</b><br><span class='asl-brand-sm'>${NAME}</span>";
}

.asl-brand-sm {
    font-size: 0.8em;
}
