Source: asl3-appliance
Section: hamradio
Priority: optional
Maintainer: Jason McCormick <jason@mfamily.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/AllStarLink/asl3-appliance
Vcs-Browser: https://github.com/AllStarLink/asl3-appliance
Vcs-Git: https://github.com/AllStarLink/asl3-appliance
Rules-Requires-Root: binary-targets

Package: asl3-appliance
Architecture: all
Depends: ${misc:Depends}, cockpit, cockpit-networkmanager,
 cockpit-packagekit, cockpit-sosreport, cockpit-wifimanager,
 cockpit-storaged, cockpit-system, cockpit-ws, firewalld,
 asl3 (>= 3.3.0), asl3-menu, asl3-update-nodelist, allmon3, vim-nox, avahi-daemon
Conflicts: asl3-pi-appliance (<< 2.0.0)
Description: Appliance customization for Debian-based ASL "appliances"

Package: asl3-appliance-pi
Architecture: all
Depends: ${misc:Depends}, avahi-daemon, asl3-appliance
Conflicts: asl3-pi-appliance (<< 2.0.0), asl3-appliance-pc
Description: Appliance customization for Debian-based ASL "appliances" - Pi addons

Package: asl3-appliance-pc
Architecture: all
Depends: ${misc:Depends}, avahi-daemon, asl3-appliance
Conflicts: asl3-pi-appliance (<< 2.0.0), asl3-appliance-pi
Description: Appliance customization for Debian-based ASL "appliances" - PC addons

Package: asl3-pi-appliance
Architecture: all
Depends: asl3-appliance-pi
Description: Transitional stub package for asl3-appliance structure
